body{
    background-color: black;
    background-image:url("../images/Contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
}
.inputSU{
    color: rgb(168, 167, 167);
    margin-left: 40%;
    margin-right: 40%;

}
.btn.btn-outline-light.me-2.a{
    margin-left: 40%;
}
.inputSI{
    color: rgb(168, 167, 167);
    margin-left: 40%;
    margin-right: 40%;
}
.mb-4{
border: 5px solid white;
color:white;
padding: 5px 20px 5px 20px;
margin:5% 20% 5% 20%;
}
.link{
color:inherit;
text-decoration:none;
}